body {
    background-color: rgb(207, 207, 207);
}

img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    /* margin: auto; */
    /* top: 0px; */
}

.us_container,
.canada_container,
.mexico_container,
.greenland_container,
.haiti_container,
.cuba_container {
    width: 250px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 20px;
}

.us_info,
.canada_info,
.mexico_info,
.greenland_info,
.haiti_info,
.cuba_info {
    padding: 10px;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;
}

.us_container,
.canada_container,
.mexico_container,
.greenland_container,
.haiti_container,
.cuba_container:hover {
    cursor: pointer;
}